* {
  box-sizing: border-box;
}

.py-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

#bg-image {
  background: url(https://cartzilla.createx.studio/img/intro/intro-hero.jpg);
  background-position: center;
  background-size: cover;
}

#bg-dark {
  background-color: #373f50;
}

#bg-secondary {
  background-color: #f6f9fc;
}

#btn-back {
  display: block;
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background-color: rgba(43,52,69,0.25);
  color: #fff;
  text-align: center;
}

#icon {
  font-size: .875rem;
  font-weight: bold;
  line-height: 2.625rem;
}

i {
  margin-right: 8px;
}